@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.main-container {
  padding: 40px;
}

.downloads-container {
  text-align: center;
  margin-bottom: 10px;
}

.downloads-container button {
  color: white;
  background-color: #fc59a3;
  border-radius: 5px;
  padding: 1px 5px 1px;
}

/* Shared */
.section-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.section-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.edit-mode {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 1px 5px 1px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.edit-mode:hover {
  background-color: #ffd400;
}

/* Custom fields */
.add-field {
  text-align: left;
  width: 100%;
  color: gray;
  padding: 0px;
}

.add-field:hover {
  color: black;
}

.add-field button {
  font-size: 18px;
  line-height: 18px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.add-field button:hover {
  background-color: #66FF00;
}

/* Resume main container */
div.resume-container {
  max-width: 800px;
  border: 1px solid #d8d8d8;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
